<div class="form-group">
    <label for="nameTestInput">Nombre:</label>
    <input type="email" class="form-control" id="nameTestInput" [(ngModel)]="testName" />
</div>
<div class="form-group">
    <label for="desciptionTestInput">Descripción:</label>
    <textarea class="form-control" id="desciptionTestInput" rows="3" [(ngModel)]="testDescription"></textarea>
</div>
<div class="form-group">
    <label for="preconditionTestInput">Pre-condiciones:</label>
    <textarea class="form-control" id="preconditionTestInput" rows="3" [(ngModel)]="testPrecondition"></textarea>
</div>
<div class="form-group">
    <label for="statusInput">Estado:</label>
    <input type="email" class="form-control" id="statusInput" [(ngModel)]="testStatus" />
</div>